{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block head_title %}Reset Password{% endblock %} 
{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md p-8 bg-white shadow-md rounded-xl">
        <h1 class="text-2xl font-bold p-6 text-center">Reset Password</h1>

        {% if user.is_authenticated %}
            <p class="text-center text-sm text-gray-600 pb-2"><strong>Note:</strong> You are logged in as {{ user.username }}</p>
        {% endif %}

        <p class="text-center text-md text-gray-600 py-2">
            Forgot your password? Enter your email address below, and we'll send you an email allowing you to reset it.
        </p>

        <form method="post" action="{% url 'account_reset_password' %}" class="text-start">
            {% csrf_token %}
            {{ form|crispy}}

            <button type="submit" class="bg-blue-500 w-full text-white px-4 py-2 rounded">
                Reset Password
            </button>

            <p class="text-center text-md text-gray-600 pt-4 pb-2">
                Please contact us if you have any trouble resetting your password.
            </p>

            <p class="text-center text-sm text-gray-600 mt-4">
                <a href="#home" class="text-blue-600 hover:underline">
                    ← Back to homepage
                </a>
            </p>        
        </form>
    </div>
</div>
{% endblock %}
